h1 {
  text-align: center;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

/* Home */
#home-container {
  background-image: url('../img/home.jpg');
  background-size: cover;
  min-height: 500px;
  color: white;
  padding-top: 25%;
}

/* Footer */
.footer {
  background-color: #50457B;
}

.footer h2 {
  margin-top: 0;
}

.footer h2,
.footer a {
  color: white;
}

.footer li {
  list-style-type: none;
}

