
.navbar-default {
  background-color: transparent;
  border: none;
}


/* Footer */
.footer {
  background-color: #50457B;
}

.footer h2 {
  margin-top: 0;
}

.footer h2,
.footer a {
  color: white;
}

.footer li {
  list-style-type: none;
}

